[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
    ignore = dirty
[submodule "bundle/mru"]
	path = bundle/mru
	url = https://github.com/vim-scripts/mru.vim.git
    ignore = dirty
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
    ignore = dirty
[submodule "bundle/dlang/syntax"]
	path = bundle/dlang/syntax
	url = https://github.com/JesseKPhillips/d.vim.git
    ignore = dirty
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
    ignore = dirty
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
    ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
    ignore = dirty
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
    ignore = dirty
[submodule "bundle/align"]
	path = bundle/align
	url = https://github.com/vim-scripts/Align.git
    ignore = dirty
[submodule "bundle/foreplay"]
	path = bundle/foreplay
	url = https://github.com/tpope/vim-foreplay.git
    ignore = dirty
[submodule "bundle/vim-clojure-static"]
	path = bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
    ignore = dirty
[submodule "bundle/fireplace"]
	path = bundle/fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "bundle/hs"]
	path = bundle/hs
	url = https://github.com/dag/vim2hs.git
